<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>PsicoReflexão</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>🧠 PsicoReflexão</h1>
    <nav><a href="/">Início</a></nav>
  </header>
  <main>
